{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'epi/style.css' %}"/>
</head>

<body>
    <h1>Détail de l’EPI « {{ epiname }} »</h1>
    <h2>Informations générales</h2>
    <table>
        <tr><th>Marque</th><td>{{ epi.e_brand }}</td></tr>
        <tr><th>Modèle</th><td>{{ epi.e_model }}</td></tr>
        <tr><th>Serial</th><td>{{ epi.e_serial }}</td></tr>
        <tr><th>Kit</th><td>{{ epi.e_kit }}</td></tr>
    </table>

    {% if inspections %}
    <h2>Résultats des inspections précédentes</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Résultat</th>
            <th>Détails</th>
        </tr>
    {% for inspection in inspections %}
        <tr>
            <td>{{ inspection.e_date|date:'d/m/Y' }}</td>
            <td>{{ inspection.e_result }}</td>
            <td>
                {% if inspection.e_details is not None %}
                {{ inspection.e_details }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
</body>
