<h1>Gestion des EPI</h1>

<h2>Derniers EPI saisis</h1>
{% if latest_epi_list %}
    <ul>
    {% for epi in latest_epi_list %}
        <li><a href="{% url 'detail_epi' epi.id %}">{{ epi }}</a></li>
    {% endfor %}
    </ul>
{% else %}
<p>Pas d’EPI en base de données</p>
{% endif %}

<h2>Gestion</h2>
<ul>
    <li><a href="admin/">Administration</a></li>
    <li><a href="{% url 'kits' %}">Kits</a></li>
    <li><a href="">Procéder à une inspection</a></li>
</ul>
